{%- macro stats_table(stats) %}
<table>
  <tr>
  <td>Length in days</td>
  <td>{{stats.length_days}}</td>
  </tr>
  <tr>
  <td>Scale factor for measured consumed energy Wh</td>
  <td>{{stats.scale_consumed}}</td>
  </tr>
  <tr>
  <td>Scale factor for measured generated energy Wh</td>
  <td>{{stats.scale_generated}}</td>
  </tr>
  <tr>
  <td>annual_heating_consumed</td>
  <td>{{stats.annual_heating_consumed | format_kwh}}</td>
  </tr>
  <tr>
  <td>annual_water_consumed</td>
  <td>{{stats.annual_water_consumed | format_kwh}}</td>
  </tr>
  <tr>
  <td>annual_total_consumed</td>
  <td>{{stats.annual_total_consumed | format_kwh}}</td>
  </tr>
  <tr>
  <td>Average consumed daily</td>
  <td>{{(stats.annual_total_consumed / stats.length_days) | format_kwh}}</td>
  </tr>
  <tr>
  <td>annual_heating_generated</td>
  <td>{{stats.annual_heating_generated | format_kwh}}</td>
  </tr>
  <tr>
  <td>annual_water_generated</td>
  <td>{{stats.annual_water_generated | format_kwh}}</td>
  </tr>
  <tr>
  <td>annual_total_generated</td>
  <td>{{stats.annual_total_generated | format_kwh}}</td>
  </tr>
  <tr>
  <td>heating SCOP</td>
  <td>{{"%.2f"|format(stats.heating_scop)}}</td>
  </tr>
  <tr>
  <td>DHW SCOP</td>
  <td>{{"%.2f"|format(stats.water_scop)}}</td>
  </tr>
  <tr>
  <td>Total SCOP</td>
  <td>{{"%.2f"|format(stats.scop)}}</td>
  </tr>
</table>
{% endmacro -%}

{% for stats in annual_stats %}
<h1>{{stats.year}}</h1>
{{stats_table(stats)}}
{% endfor %}

<h1>Total</h1>
{{stats_table(total_stats)}}

<div>
  {% for chart in charts %}
  <h1>{{chart.name}}</h1>
  <canvas id="chart-{{chart.get_symbol()}}"></canvas>
  {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  {% for chart in charts %}
  const ctx{{chart.get_symbol()}} = document.getElementById('chart-{{chart.get_symbol()}}');
  new Chart(ctx{{chart.get_symbol()}}, {
    {% if chart.is_type(ChartType.LINE) %}
    type: 'line',
    data: {
      labels: [
        {% for x in chart.labels %}"{{x}}",{% endfor %}
        ],
      datasets: [
        {% for name, series in chart.series.items() %}
        {
          label: '{{name}}',
        data: [
          {% for x in series %}{{x}},{% endfor %}
        ],
        tension: 0.1,
        },
        {% endfor %}
      ]
    },
    options: {
      pointStyle: false,
      borderWidth: 1,
    }
    {% endif %}
    {% if chart.is_type(ChartType.SCATTER) %}
    type: 'scatter',
    data: {
      datasets: [
        {% for name, series in chart.series.items() %}
        {
          label: '{{name}}',
          data: [
            {% for x, y in series %}
            {x: {{x}}, y: {{y}}},
            {% endfor %}
          ],
        },
        {% endfor %}
      ],
    },
    options: {
      scales: {
        x: {
          type: 'linear',
          position: 'bottom',
        }
      }
    }
    {% endif %}
  });
  {% endfor %}
</script>
