<div>
  {% for chart in charts %}
  <h1>{{chart.name}}</h1>
  <canvas id="chart-{{chart.get_symbol()}}"></canvas>
  {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  {% for chart in charts %}
  const ctx{{chart.get_symbol()}} = document.getElementById('chart-{{chart.get_symbol()}}');
  new Chart(ctx{{chart.get_symbol()}}, {
    type: 'line',
    data: {
      labels: [
        {% for x in chart.labels %}"{{x}}",{% endfor %}
        ],
      datasets: [
        {% for name, series in chart.series.items() %}
        {
          label: '{{name}}',
        data: [
          {% for x in series %}{{x}},{% endfor %}
        ],
        tension: 0.1,
        },
        {% endfor %}
      ]
    },
    options: {
    }
  });
  {% endfor %}
</script>
